.matches-match {
    position: relative;
    font-size: 1.6vh;
    line-height: 3.5;
    border-bottom: 2px solid white;
    display: flex;
    &:nth-child(3n) {
        border-bottom: none;
    }
}

.matches-team--left {
    flex-grow: 1;
    min-width: 21vw;
    max-width: 21vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.matches-team--right {
    flex-grow: 1;
    min-width: 21vw;
    max-width: 21vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.matches-team--left div {
    margin-left: 10px;
}

.matches-team--right div {
    margin-right: 10px;
}

.matches-team--left img,
.matches-team--right img {
    margin: 0;
}

.matches-separator {
    flex-grow: 1;
    min-width: 1vw;
    max-width: 1vw;
    text-align: center;
}

.input {
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    width: 3em;
    height: 2em;
    margin: 0 1vw;
    text-align: center;
    font-size: 1em;
    color: #fff;
    background: #004d1a;
    border: 1px solid #fff;
    border-radius: 40%;
}