.teams-main {
    position: relative;
    background: #048e00;
    background-image: linear-gradient(145deg, rgba(0,0,0,0), rgba(0,0,0,.25));
    color: #fff;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden;

    td {
        border: 1px solid #fff;
        text-align: center;
        padding: 0 30px;
    }
}

.table-title {
    font-size: 24px;
    line-height: 1.5;
}

.table-title--secondary {
    font-size: 18px;
    line-height: 1.5;
}

.table-data {
    font-size: 16px;
    line-height: 2.5;
    color: #fff;
}

.team-logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.team-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}



