.navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: navAnim .5s ease .5s forwards;
}

.teams-container {
    position: absolute;
    top: 12vh;
    left: 10vw;
    opacity: 0;
    animation: teamsAnim .5s ease 1s forwards;
}

.tabella-container {
    position: absolute;
    top: 12vh;
    left: 40vw;
    opacity: 0;
    animation: tabellaAnim .5s ease 1.5s forwards;
}

.matches-container {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: matchesAnim .5s ease 2s forwards;
}

@keyframes navAnim {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes teamsAnim {
    0% {
        opacity: 0;
        left: -800px;
    }
    100% {
        opacity: 1;
        left: 10vw;
    }
}

@keyframes tabellaAnim {
    0% {
        opacity: 0;
        left: 1750px;
    }
    100% {
        opacity: 1;
        left: 40vw;
    }
}

@keyframes matchesAnim {
    0% {
        opacity: 0;
        bottom: -1400px;
    }
    100% {
        opacity: 1;
        bottom: 20vh;
    }
}

